.Tilt{
    background-image: linear-gradient(89deg,#FF5EDF 0%, #04C8DE 100%);
    width: 10rem;
    height: 10rem;
    @media screen and (max-width:600px) {
      width: 7rem;
      height: 7rem;
    }
    &-inner{
        padding-top: 5px;
    }
    &__image{
        @media screen and (max-width: 600px) {
          height: 5rem;
        }
    }
}